<button class="btn btn-sm btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight">New Link</button>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h5 id="offcanvasRightLabel">New Link</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        

        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label>
                      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"> -->
                <!-- <input type="hidden" name="linkid" id="linkid"> -->

                {{ form.url }}
            </div>

            <!-- Checkbox -->
            <div class="form-check">
                <input type="checkbox" id="myCheck" class="form-check-input " name="checkbox" >
                <!-- {{form.checkbox.data}} -->
                <label class="form-check-label" for="myCheck">
                    Custom short link
                </label>
            </div>
            <div class="row" id="customShortUrl" style="display: none;">
                <div class="mb-3">
                    {{ form.short_url }}
                    <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
                    <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
                </div>

            </div>
            <div class="mb-3">
                    {{ form.tags }}
                    <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
                    <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
            </div>


            <input type="submit" value="Submit" class="btn btn-primary save-btn">
        </form>
    </div>
</div>