

<!-- Modal -->
<div class="modal fade" id="shareModal{{file.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share File</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{file.document}} <br>
        {{file.share_url}}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          
          <button href="#" class="p-2 card-link btn btn-outline-dark copy-btn me-md-2" data-link="{% url 'index' %}{{file.share_url}}" id="copy{{file.id}}" >Copy</button>
          <a class="p-2 card-link btn btn-outline-dark" href="{% url 'fileshare' file.share_url %}" target="_blank" >Open</a>
        </div>
      </div>
      
    </div>
  </div>
</div>
<script type="text/javascript">
    
    var path = {{request.path}};
    var url = String(document.URL);
    var str = url.replace(String(path),'');

    var ls = document.getElementById('copy{{file.id}}')
    
    
    ls.attributes['data-link'].value = str+ls.attributes['data-link'].value 
    
    

  </script>