{% extends 'dashboard/page_base.html' %}

{% block title %}
User Settings
{% endblock title %}

{% block main %}
  <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Change Password</h1>    
    </div>

    <div class="card card-body">
        <div class="card-body">
		<h5 class="card-title">User name : {{user}}</h5>
		<h6 class="card-subtitle mb-2 text-muted">E-mail id : {{user.email}}</h6>

		<form method="POST">	
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" class="btn btn-dark" name="Send email">
		</form>

        </div>
    </div>
{% endblock main %}

{% block script %}

{% endblock script %}
