{% extends 'dashboard/page_base.html' %}

{% block title %}
Tags
{% endblock title %}

{% block main %}
  <div
          class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">All Tags</h1>
          
        </div>

        {% if tags %}
           
                  <div class="row">
              {% for tag in tags %}
                  
                    <div class="col-sm-3">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title"><a href="{% url 'post_tag' tag.slug %}" class="btn btn-dark">
                      {{tag.name}}
                  </a></h5>
                          
                        </div>
                      </div>
                    </div>
                    
                  
                  <!-- {% if not forloop.last %}, {% endif %} -->
              {% endfor %}
            </div>
            
        {% else %}
            <h4>You have no tags</h4>
        {% endif %}
        <!-- end main -->
        
{% endblock main %}

{% block script %}

{% endblock script %}
