<h3>User Created Links</h3>

{% if user.is_authenticated %}
    <p>Authenticated user</p>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
    </form>
{% else %}
    Do something which you want to do with unauthenticated user
{% endif %}



{% if user_links %}
    <table>
        <tr>
        <th>Urls</th>
        <th>Short Urls</th>
        <th>Created at</th>
        <th>Username</th>
        <th>Expiration Date</th>
        </tr>
        {% for links in user_links %}
        <form method="POST" action="{% url 'delete' links.id %}">
            {% csrf_token %}
        <tr>
                <td>{{links.url}}</td>
                <td><a href="http://localhost:8000/{{links.short_url}}" target="_blank" rel="noopener noreferrer"> http://localhost:8000/{{links.short_url}} </a></td>
                <td>{{links.date_created}}</td>
                <td>{{links.user}}</td>
                <td>{{links.expiration_date}}</td>
                <td><button type="submit">done</button></td>
        </tr>
    
    </form>
        {% endfor %}
    
    </table>
    {% else %}
        <p>No links to show</p>
    {% endif %}